<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :recipe_name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :recipe_user_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :recipe_description %>
  </div>

  <div class="field">
    <%= form.label :ingredient_list %>
    <%= form.text_area :ingredient_list, id: :recipe_ingredient_list %>
  </div>

  <div class="field">
    <%= form.label :directions_list %>
    <%= form.text_area :directions_list, id: :recipe_directions_list %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
