<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :recipe_name %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, id: :recipe_user_id, value: current_user.id, type: "hidden" %>
  </div>

  <div class="form-group">
    <%= form.label :description %><br>
    <%= form.text_area :description, id: :recipe_description, style: 'width:50%;', :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :ingredient_list %><br>
    <%= form.text_area :ingredient_list, id: :recipe_ingredient_list, :rows => 10, style: 'width:50%;', :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :directions_list %><br>
    <%= form.text_area :directions_list, id: :recipe_directions_list, :rows => 10, style: 'width:50%;', :class => 'form-control'  %>
  </div><br>

  <div class="actions btn">
    <%= form.submit %>
  </div>
<% end %>
