<br><br>
<div align="center">    
    <div><h3>Find a Recipe!</h3></div>
<br>

    <div>
      <%= form_tag recipes_path, :method => 'get' do %>
         <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
         </p>
     <% end %>
    </div>
</div><br><br>

<div align="center">    
    <div><h1>Your Recipes</h1></div>

<div><br />
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th colspan="3">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @recipes.each do |recipe| %>
          <% if recipe.user_id == current.user_id %>
              <tr>
                <td><%= recipe.name %></td>
                <td><%= recipe.description %></td>
                <td><%= link_to 'Go To', recipe %></td>
                <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
                <td><%= link_to 'Trash', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
</div>
<br>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-default btn-lg" %><br><br>
