<br><br>
<div align="center">
  <h1><strong>
  <%= @recipe.name %>
  </strong></h1>

<p hidden>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<p>
  <%= @recipe.description %>
</p><br>

<p align="left" style=padding-left:300px;>
  <strong>Ingredients:</strong><br>
  <%= @recipe.ingredient_list %>
</p>

<p align="left" style=padding-left:300px;padding-right:300px;>
  <strong>Directions:</strong><br>
  <%= @recipe.directions_list %>
</p><br>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
</div>